.pageContent {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 30px;
  font-weight: bold;
  color: blueviolet;
}

.cardGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  padding: 10px;
  width: 900px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.2s;
  overflow: hidden;
}

.cardImg {
  width: 100%;
  height: 200px;
  transition: all 1s ease-in-out;
}

.cardImg:hover {
  transform: scale(1.05);
}

.cardContent {
  padding: 15px;
}

.cardLinks {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.cardLinks a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.cardLinks a:hover {
  color: #0056b3;
}

.cardLinks i {
  margin-right: 5px;
}

.pagination-controls {
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 25px;
}

.pagination-controls button {
  padding: 10px;
  width: 100px;
  color: #fff;
  font-size: 20px;
  background: linear-gradient(135deg, #ff007b, #ff6b00);
  border: none;
  border-radius: 2px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.pagination-controls button:disabled {
  background: linear-gradient(135deg, #fa84bd, #f0ab7a);
  cursor: not-allowed;
}

.pagination-controls button:hover {
  transform: scale(1.1);
}

/* Media query for smaller screens (tablets and phones) */
@media (max-width: 768px) {
  .cardGrid {
    width: 600px;
  }
  .cardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    padding: 10px;
    width: unset;
  }
}

/* Media query for smaller screens (tablets and phones) */
@media (max-width: 600px) {
  .cardGrid {
    width: 350px;
  }

  .pagination-controls {
    font-size: 15px;
  }

  .pagination-controls button {
    font-size: 15px;
  }
}

/* Media query for smaller screens (tablets and phones) */
@media (max-width: 300px) {
  .cardGrid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 350px;
  }
}
