/* Navbar.module.css */
.navbarWrapper {
  background-color: transparent; /* Semi-transparent blue */
  backdrop-filter: blur(10px); /* Blurred background effect */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  z-index: 1000; /* Ensure it stays above other content */
}

.navbarMenuWrapper .menuItem {
  color: #ffffff;
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 20px;
  transition: all 0.3s ease, transform 0.3s ease;
  position: relative;
  cursor: pointer;
}

.navbarMenuWrapper .menuItem::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: 50%;
  background-color: #ff8800;
  transition: width 0.5s ease;
}

.navbarMenuWrapper .menuItem.menuActive::before {
  width: 100%; /* Expand underline on hover */
}

.navbarMenuWrapper .menuItem:hover {
  color: #ff8800;
  font-size: 30px;
  text-shadow: 0 0 20px rgb(255, 234, 43);
  transform: translateY(-2px);
}

.navbarMenuWrapper .menuActive {
  color: #ff8800;
  font-size: 30px;
  font-weight: 700;
  text-shadow: 0 0 20px rgb(255, 234, 43);
}

.navbarMenuIcon {
  display: none;
}

/* Media query for smaller screens (tablets and phones) */
@media (max-width: 768px) {
  .navbarWrapper {
    background-color: rgb(34, 34, 34); /* Semi-transparent blue */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: auto;
  }

  .navbarWrapper .navbarMenuIcon {
    display: inline-block;
    color: #ff8800 !important;
  }

  .navbarMenuWrapper {
    display: none;
  }

  .menuOpen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
