.about-container {
  display: flex;
  padding: 20px;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  min-height: 600px;
}

.tab-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 20%;
  min-height: inherit;
  max-height: inherit;
  /* background: rgba(0, 0, 0, 0.7); */
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.tab-list button {
  background: linear-gradient(135deg, #8200fc, #a54cf8);
  color: #fff;
  font-size: 50px;
  border: none;
  padding: 30px;
  text-align: left;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s ease, transform 0.2s;
}

.tab-list button:hover {
  background: linear-gradient(135deg, #ff007b, #ff6b00);
  transform: scale(1.2) translateX(5px);
}

.tab-list button.active {
  background: linear-gradient(135deg, #ff007b, #ff6b00);
  color: #fff;
  transform: scale(1.2) translateX(5px) rotate(2deg);
  animation: osscilate 2s ease-in-out infinite, fadein 1s ease-in-out infinite;
}

@keyframes osscilate {
  0% {
    transform: scale(1.1) rotate(2deg);
  }
  50% {
    transform: scale(1.1) rotate(-2deg);
  }
  100% {
    transform: scale(1.1) rotate(2deg);
  }
}
@keyframes fadein {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.tab-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70%;
  min-height: inherit;
  max-height: inherit;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  animation: fadeIn 1s ease-in-out;
}

.tab-content section {
  color: #fff;
  width: 100%;
  min-height: 600px;
}

.tab-content section {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.tab-content section p,
ul {
  font-size: 20px;
  padding: 0px;
  list-style: none;
}

@media (max-width: 768px) {
  .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: unset;
  }

  .tab-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    height: auto;
    min-height: unset;
    border-radius: 10px;
    padding: 10px 0px;
  }

  .tab-list button {
    background: linear-gradient(135deg, #8200fc, #a54cf8);
    color: #fff;
    font-size: 15px;
    border: none;
    padding: 10px;
    margin: 5px;
    height: 50px;
    text-align: left;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease, transform 0.2s;
  }

  .tab-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    min-height: inherit;
    max-height: inherit;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    animation: fadeIn 1s ease-in-out;
  }

  .tab-content section {
    color: #fff;
    width: 100%;
    min-height: 600px;
  }
}
